<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit User</title>
</head>
<body>
    <h1>Edit {{person.first_name}}</h1>
    <a href="/users">Home</a>
    <form action="/edit" method="post">
        <input type="hidden" name="id" value="{{person.id}}">

        <div class="form-group row">
            <label for="first_name">First Name:</label>
            <div class="col-sm-10">
                <input type="text" name="first_name" value="{{person.first_name}}" placeholder="{{person.first_name}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="last_name">Last Name:</label>
            <div class="col-sm-10">
                <input type="text" name="last_name" value="{{person.last_name}}" placeholder="{{person.last_name}}">
            </div>
        </div>
        <div class="form-group row">
            <label for="email">Email:</label>
            <div class="col-sm-10">
                <input type="text" name="email" value="{{person.email}}" placeholder="{{person.email}}">
            </div>
        </div>
        <input type="submit" value="Save Changes">
    </form>
</body>
</html>
